dist/
docs/
i18n/
node_modules/
vendor/

# ES6 files
resources/skins.wisdom.scripts.search/typeahead-init.js
resources/skins.wisdom.scripts.search/underscore.partial.js
resources/skins.wisdom.scripts.search/wm-typeahead.js
