.citizen-drawer {
	display: flex;
	flex-direction: var( --header-direction );
	overflow: scroll;

	&__header {
		display: flex;
		gap: var( --space-md );
		align-items: center;
		justify-content: center;
		padding: var( --space-md );
	}

	// Keep aspect ratio
	&__logo img {
		width: auto;
		height: 3rem;
	}

	&__siteinfo {
		display: flex;
		flex-direction: column;
		gap: var( --space-xxs );
		width: 100%;
	}

	&__menu {
		--size-icon: 1rem;
		display: flex;
		flex-direction: var( --header-direction );
		gap: var( --space-sm );
		justify-content: center;
		max-width: inherit;
		padding: var( --space-xs );
		margin-bottom: var( --space-xs );

		height: fit-content;

		.citizen-menu {
			height: fit-content;
			overflow: auto;
		}

		.mw-list-item a {
			border-radius: var( --border-radius-base );
		}
	}

	&__options {
		display: none;
		flex-wrap: wrap;
		flex-direction: var( --header-icon-direction );
		justify-content: left;
	}
}


@media ( max-width: @max-width-breakpoint-tablet ) {
	.citizen-drawer {
		--header-direction: column;

		border: var( --border-width-base ) solid var( --border-color-base );
		border-radius: var( --border-radius-medium );
		box-shadow: var( --box-shadow-large );
		.mixin-citizen-frosted-glass;

		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100vh - var( --header-size ));

		overflow: scroll;

		&__menu {
			overflow: scroll;
		}

		&__siteinfo {
			display: none;
		}

		&__options {
			display: flex;
			width: 100%;
		}

		display: none;
  	}


   // this is kind of a hacky solution to creating a mobile-exclusive toggle button for the drawer
   #citizen-drawer-toggle[open] + .citizen-drawer {
  		display: block;
   }
   #citizen-drawer-toggle::before {
  		display: none;
   }

   #citizen-drawer-toggle {
 		display: flex;
 		align-items: center;
   }
}
