 {{!
 	string link-mainpage link to the main page
	string msg-citizen-drawer-toggle The label used by the drawer button
}}
<header class="mw-header citizen-header">
	{{#data-search-box}}{{>Search}}{{/data-search-box}}
	{{>Header__logo}}
	<div class="citizen-header__inner">
		{{>MobileNav}}
		<div class="citizen-header__options">
			{{>Preferences}}
			{{>UserMenu}}
			{{#data-portlets.data-notifications}}{{>Menu}}{{/data-portlets.data-notifications}}
		</div>
	</div>
	{{>Drawer__button}}
	{{>Drawer}}
</header>
